html, body, .app-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
 }

  mat-toolbar {
    height: 100% !important;
    padding:16px;
  }    

  .app-container header {
    height: 100%;
    border-bottom: 4px solid #921f32;
    background-color: #0e1531;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
                0 6px 10px 0 rgba(0,0,0,.14), 
                0 1px 18px 0 rgba(0,0,0,.12);
  }
  .app-container .content-container {
    height: calc( 100% - 50px);
    overflow: auto;
    padding: 10px;
    word-break: break-all;
  }

  .mega-menu-logo {
    width:110px;
  }